
<link type="text/css" rel="stylesheet" href="$!{basePath}/static/css/indexpop.css"/>

<div class="right_tit clearfix">
    <p>页面管理 / PC首页 /<b>
        #if ($!type == 1)
            设置频道推荐
        #elseif($!type == 2)
            设置楼层推荐
        #end

    </b></p>
</div>
<div class="commodities_list">
    <div class="sp_tit clearfix">
        <div class="tit_btn">
            <a href="#" class="dr_btn dr_btn_2 btn1">新建推荐</a></div>
        <span>设置推荐</span></div>
    <div class="table_2 no_bor">
        <table>
            <thead>
            <tr>
                <th width="10%">广告ID</th>
                <th width="10%">广告排序</th>
                <th width="13%">广告图片</th>
                <th width="10%">广告标题</th>
                <th width="10%">广告副标题</th>
                <th width="15%">价格</th>
                <th width="20%">链接</th>
                <th width="12%">操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($ad in $mallAdVos)
                <tr>
                    <td width="10%">$!ad.id</td>
                    <td width="10%">$!ad.sortNum</td>
                    <td width="13%"><img src="$!ad.imgSrc" width="106px"></td>
                    <td width="10%">
                        #if(${ad.adWords.split(";").size()} > 0)
                        $!{ad.adWords.split(";")[0]}
                    #end</td>
                    <td width="10%">
                        #if(${ad.adWords.split(";").size()} > 1)
                        $!{ad.adWords.split(";")[1]}
                    #end</td>
                    <td width="15%">
                        #if(${ad.adWords.split(";").size()} > 2)
                        $!{ad.adWords.split(";")[2]}
                    #end
                    </td>
                    <td width="20%"><p>$!ad.link</p></td>
                    <td width="12%" class="cz_a">
                        <a href="javascript:void(0)" data-id="$!ad.id" data-type="$!type" name="editLink" id="editLink">编辑</a>|
                        <a href="javascript:void(0)" data-id="$!ad.id" data-type="$!type" name="deleteLink">删除</a>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <!--table_2 end-->
</div>


<div class="bgpop">

</div>
<!-- 创建频道 -->
<div class="pop pop_ad tuijian">
    <div class="poptop">
        <span class="popname">新建推荐</span>
        <span class="popnameclose">×</span>
    </div>
    <form name="editAdForm" id="editAdForm">
        <div class="popcontent">

            <input type="hidden" value="$!principalId" name="principalId">
            <input type="text" style="display:none;" value="" name="rId">
            <input type="hidden" name="type" value="$!type">
            <table>
                <tbody>
                <tr>
                    <td class="poptablename">广告排序&nbsp;：</td>
                    <td class="poptabletd">&nbsp;<input type="text" placeholder="大于0的数字" name="sortNum"/>
                        <div class="errorMessage"></div>
                    </td>
                </tr>
                <tr>
                    <td class="poptablename">广告商品SKU&nbsp;：</td>
                    <td class="poptabletd">&nbsp;<input type="text" placeholder="请输入商品SKU" name="skuId"/>
                        <div class="errorMessage"></div>
                    </td>
                    <td><a href="javascript:void(0)" class="" name="getSkuInfo">拉取</a></td>
                </tr>
                <tr>
                    <td class="poptablename">广告标题&nbsp;：</td>
                    <td class="poptabletd">&nbsp;<input type="text" placeholder="不超过20个中文" name="name"/>
                        <div class="errorMessage"></div>
                    </td>
                </tr>
                <tr>
                    <td class="poptablename">广告副标题&nbsp;：</td>
                    <td class="poptabletd">&nbsp;<input type="text" name="subName1"  placeholder="不超过20个中文"/>
                        <div class="errorMessage"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="popfooter">
            <button class="poptrue" type="submit">确&nbsp;定</button>
            <button class="popcancle" type="button">取&nbsp;消</button>
        </div>
    </form>

</div>
<form>
    <input type="file" name="fileImage" class="file-ipt" style="display: none">
</form>
<script type="text/javascript" src="$!{basePath}/static/js/common/jquery.validate.min.js"></script>
<script type="text/javascript" src="$!{basePath}/static/js/common/jquery-validate-methods.js"></script>
<link type="text/css" rel="stylesheet" href="$!{basePath}/static/css/manage_patch.css"/>


<script>
    $(function () {
        $("a[name='getSkuInfo']").on("click", function () {
            var skuId = $("input[name='skuId']").val().trim();
            if(skuId == "" || isNaN(skuId)){
                alert("请输入SKU，不可输入字母或汉字")
            }else {
            $.ajax({
                url: "/mall/mallAd/getSkuInfo/" + skuId + "?time=" + (new Date()).getTime(),
                cache: false,
                dataType: "json",
                type: "POST",
                success: function (data) {
                    if (data.success == 1) {
                        $("input[name='name']").val(data.itemDetailVo.skuName);
                    } else if (data.success == 2) {
                        alert("不存在该sku");
                    } else {
                        alert("服务端异常");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("服务端异常:" + textStatus);
                }
            });
            }
        });
        $(".btn1").click(function () {
            openPop($(".tuijian"), "新建推荐", editAdForm);
        });

        //创建推荐验证
        var editAdForm = $("#editAdForm").validate({
            rules: {
                sortNum: {required: true, digits: true,min:1},
                skuId: {required: true, digits: true},
                name: {required: true, maxlength: 20,isEmpty:true},
                subName1: {required: true, maxlength: 20,isEmpty:true},
            },
            messages: {
                sortNum: {required: "序号不能为空", digits: "请输入大于0的数字",min:"请输入大于0的数字"},
                skuId: {required: "请填入广告商品SKU", digits: "请输入数字"},
                name: {required: "请输入广告标题", maxlength: "不能超过20个中文",isEmpty:"请填写正确的字符"},
                subName1: {required: "请输入广告副标题", maxlength: "不能超过20个中文",isEmpty:"请填写正确的字符"},
            },
            submitHandler: function (form) {
                $("[type='submit']").attr("disabled",true);
                var id = $(form).find("[name='rId']").val();
                if (id == "" || id == null) {
                    addAndUpd("/mall/mallAd/addRecommend", $(form));
                } else {
                    addAndUpd("/mall/mallAd/editRecommend", $(form));
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.next());
            },
            ignore: [],
        });

        $("a[name='deleteLink']").on("click", function () {
            var id = $(this).data("id");
            var type = $(this).data("type");
            layer.confirm('确定删除？', {
                btn: ['确定','取消']
            }, function(){
                $.ajax({
                    url: "/mall/mallAd/delete" + "?time=" + (new Date()).getTime(),
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    data: {id:id, type:type},
                    success: function(data){
                        if (data.success == 1) {
                            window.location.reload(true);
                        } else {
                            alert("服务端异常");
                            window.location.reload(true);
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("服务端异常:" + textStatus);
                    }
                });
            }, function(){

            });
        });
        $("a[name='editLink']").on("click", function () {
            editAdForm.resetForm();
            var id = $(this).data("id");
            var type = $(this).data("type");
            $.ajax({
                url: "/mall/mallAd/toEdit" + "?time=" + (new Date()).getTime(),
                cache: false,
                dataType: "json",
                type: "POST",
                data: {rId: id, type: type},
                success: function (data) {
                    if (data.success == 1) {
                        var form = $("form[name='editAdForm']");
                        form.attr("action", "/mall/mallAd/editRecommend");
                        form.find("input[name='sortNum']").val(data.data.sortNum);
                        form.find("input[name='rId']").val(id);
                        form.find("input[name='skuId']").val(data.data.itemId);
                        try {
                            form.find("input[name='name']").val(data.data.adWords.split(";")[0]);
                            form.find("input[name='subName1']").val(data.data.adWords.split(";")[1]);
                        } catch (e) {
                        }
                        form.find("input[name='link']").val(data.data.link);
                        $(".tuijian").css("display", "block");
                    } else {
                        alert("服务端异常");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("服务端异常:" + textStatus);
                }
            });
        });
    });
    function openPop(parent, title, validate) {
        parent.find(".popname").text(title);
        //parent.find("form")[0].reset();
        validate.resetForm();
        var imgView = parent.find("[name='imgView']");
        if (imgView != undefined) {
            imgView.attr("src", "");
        }
        parent.css("display", "block");
    }
    function addAndUpd(url, form) {
        $.post(url, form.serializeJson(), function (obj) {
            if (obj.success != 1) {
                layer.alert(obj.msg);
                $("[type='submit']").removeAttr("disabled");
            } else {
                location.reload(true);
            }
        }, "json");
    }
</script>