<link rel="stylesheet" type="text/css" href="$!{basePath}/static/bootstrap-master/sample in bootstrap v3/bootstrap/css/bootstrap.min.css" />

<div class="right_tit clearfix">
    <p>权限管理/<b>角色赋权</b> </p>
</div>
<div style="width:100%;padding:10px;">
<table class="table table-bordered">
	#foreach($item in $list)
	<tr class="active">
		<td>$!{item.functionTypeName}</td>
	</tr>
	<tr>
		<td>
			#foreach($iitem in $item.functions)
				<label>
					<input #if($iitem.checked) checked #end name="funcId" type="checkbox" value="$!{iitem.id}" />
					$!{iitem.name}
				</label>
				&nbsp;&nbsp;&nbsp;&nbsp;
			#end
		</td>
	</tr>
	#end
	<tr>
		<td>
			<input class="btn btn-sm btn-success" id="confirmBtn" type="button" value="确定赋权" />
			&nbsp;&nbsp;&nbsp;&nbsp;
			<input class="btn btn-sm btn-default" onclick="window.history.go(-1)" type="button" value="返回" />
		</td>
	</tr>
</table>
</div>

<script type="text/javascript">
	var roleId = '$!{roleId}';
	function updateRoleFunction(ids){
		layer.load(1);
		$.post('/role/updateRoleFunction',{roleId:roleId,functionIds:ids},function(data){
			if(data.code == 0){
				window.location.href='/role/toList';
			}else{
				layer.closeAll('loading');
				layer.msg(data.msg);
			}
		});
	}
	$(function(){
		$("#confirmBtn").click(function(){
			var ids = "";
			$('input[name="funcId"]:checked').each(function(){ 
				ids += this.value +",";
			});
			if(ids == ""){
				layer.msg('您没有选中任何功能');
				return false;
			}
			updateRoleFunction(ids);
		});
	});
</script>
