body{
  background: #F4F4F4;
}
.select_left ul {
    margin-left: 0;
}

.article_btn {
    height: 88px;
}

.article_btn a {
    margin-top: 8px;
}

input {
    cursor: auto !important;
}

.select_time {
    width: 800px;
    height: 40px;
}

.select_time div {
    float: left;
}

.select_time .input-group, .form-control {
    width: 150px;
    height: 30px;
}



.input-group {
    padding: 0;
    background: white;
    margin-left: 4px;

}

.form-control, .input-group-addon {
    background: white !important;
    border-radius: 0;
}

.settime, .selectto {
    line-height: 30px;
}

.selectto {
    color: #5B5B5B;
    margin: 0 5px;
}

.articletable {
    width: 1092px;
    margin: 15px;
    padding: 15px;
}
.articletable tr{
  border: solid 1px #ECECEC;
}
.articleth {
    background: #F7F7F7;
}

.article_ct {
    height: auto;
    margin-left: 130px;
}

.ctinput {
    border: 1px solid #ecf0f2;
    margin: 10px 0;
    margin-left: 10px;
}

.artical_sort {
    border: 1px solid #ecf0f2;
    width: 220px;
}

.poparticle {
    height: auto;
}

.atctpt {
    margin-left: 36px;
}

.sortspan {
    color: #9B9B9B;
    margin-left: -30px;
}
.text_add{
  margin-left: 10px;
}
.commodities_list{
  height: 1012px;
}
.bugspan{
  margin-left: -84px;
}
.select_left ul li {

    height: auto;
}
