.bgpop{
    position: fixed;
    background: #000;
    filter: alpha(opacity=40);
    opacity: .4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    display: none;
}
.pop{
    width: 520px;
    height: 380px;
    background: #FFFFFF;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -260px;
    margin-top: -130px;
    z-index: 101;
    display: none;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
}

.poptop{
    width: 100%;
    height: 48px;
    background: #FAFAFA;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
}
.popname{
    float: left;
    font-size: 16px;

    color: #3F3F3F; 
    margin-left: 25px;
    line-height: 48px;
}
.popnameclose{
    float: right;
    margin-right: 16px;
    font-size: 29px;
    line-height: 48px;
    color: #7A7A7A;
    cursor: pointer;
}
.popcontent{
    height: 229px;
    margin-top: 50px;
    margin-left: 56px;
}
.kuang .text{
	color:#a9a9a9;
}
.kuang1 {
	overflow:hidden;
}
.kuang1 span{
	float:left;
	margin-top:8px;
}
.kuang1 input{
	float:left;
}

.kuang2{
	overflow:hidden;
}
.kuang2 span{
	float:left;
	margin-top:18px;
}
.kuang2 input{
	float:left;
}
.kuang3{
	overflow:hidden;
}
.kuang3 span{
	float:left;
	margin-top:13px;
}
.kuang3 .square{
	float:left;
	width:118px;height:118px;border:2px dashed #efefef;position:relative;background-color: #f7f7f7;
	margin-top:13px;
}
.file {
    position: relative;
    display: inline-block;
    background: #f7f7f7;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #55bafe;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.addsometh span{
     font-size: 13px;
}
.addtext{
    
    color: #A0A0A0;
}
.addfilea{
    padding-left: 32px;
    background: url(../images/add1.png) no-repeat 14px 7px;
    color: #808080;
    border:  #D9D9D9 solid 1px;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.addfileb{
    padding-left: 32px;
    background: url(../images/add2.png) no-repeat 14px 7px;
    color: #009AFE;
    border: #009AFE solid 1px;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.filediv{
    margin-top: 8px;
    margin-left: 68px;
}
.filediv img{
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 4px;
}
.addfilediv1,.addfilediv2{
    width: 330px;
    height: 22px;
    vertical-align: middle;
}
.addfilediv1{
    background: #FAFAFA;
    overflow: hidden;
}
.filename{
    color: #009AFE;
}
.addfileclose{
    float: right;
    margin-right: 6px;
    font-size: 10px;
    color: #A0A0A0;
    cursor: pointer;
}
.popfooter{
    height: 50px;
    background: #FAFAFA;
    border-top: #E5E5E5 solid 1px;
    overflow: hidden;

}
.poptrue,.popcancle{
    float: right;
    width: 76px;
    height: 28px;
    border: solid 1px #D9D9D9;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    margin-top: 9px;
    margin-right: 10px;
}
.poptrue{
    background: #009AFE;
    color: white;
}
.poploading{
    z-index: 102;
}
.loadingdiv div{
    position: absolute;
    width: 365px;
    height: 3px; 
    top: 145px;
    left: 43px;
}
.loadingbg{
    background: #EEEEEE;
}
.loading{
    width: 150px !important;
    background: #009AFE;
}
.popend{
    z-index: 103;
}
.popcontent table{
    font-size: 13px;
    margin-left: 80px;
}
.poptablename{
    color: #A8A8A8;
    text-align: right;
}
.poptabletd1{
    color: #353535;
}
.poptabletd2{
    color: #F1B53C;
}
.poptabletd3{
    color: #85B744;
}
.poptabletd4{
    color: #DB7472;
}
