#set($layout="super/layout.vm")
<style>
    textarea {
        overflow: auto;
        resize: none;
        width: 500px;
        height: 150px;
    }
</style>


<div class="right_tit">
    <p>
        系统管理/
        <b>存储查询</b>
    </p>
</div>
<div class="commodities_list">
    <div class="sp_tit">
        <span>存储查询</span>
    </div>
    <div class="select_box">
        <div class="select_btn_cus">
            <a  class="cx_btn" id="searchItem">查 询</a>
        </div>
        <div class="select_left">
            <ul>
                <li>
                    <span>商品Id：<input type="text" id="skuId" class="input_1" maxlength="30"/></span>
                </li>
            </ul>
        </div>
    </div>
    <!--select_box end-->
    <div class="commodities_information">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商品描述：<textarea type="text" rows="3" id="itemDescribe" placeholder=""></textarea>
        </span><br></br>

        <span>移动端商品描述：
            <textarea type="text" rows="3" id="mobileItemDescribe" placeholder=""></textarea>
        </span>

    </div>

</div>
<script type="text/javascript" >
    function CacheM(){

    }
    CacheM.prototype.select=function(from){
        var  self=this;
        var skuId=$("#skuId").val();
        $.ajax({
            url:"/super/oss/select",
            data:{
                skuId:skuId,
            },
            type:"get",
            dataType:"json",
            success:function (data) {
                if(data.isSuccess){
                    if( data.itemDescribe != "" && data.itemDescribe != null){
                        document.getElementById("itemDescribe").innerHTML = data.itemDescribe;
                    }
                    if( data.mobileItemDescribe != "" && data.mobileItemDescribe != null){
                        document.getElementById("mobileItemDescribe").innerHTML = data.mobileItemDescribe;
                    }
                }else{
                    alert(data.msg);
                }
            }
        });
    }
    CacheM.prototype.add=function(){
        var  self=this;
        $.ajax({
            url:"/super/cache/save",
            data:{
                tenantId:$("input[name='ID_']").val(),
                expireSecond:$("input[name='time_']").val(),
                key:$("input[name='key_']").val(),
                value:$("textarea[name='value_']").val()
            },
            type:"post",
            dataType:"json",
            success:function (data) {
                if(data.isSuccess){
                    alert('缓存成功');
                    $("#add_cache").hide();
                }else{
                    alert(data.message);
                }
            }
        });
    }
    CacheM.prototype.del=function(){
        var  self=this;
        $.ajax({
            url:"/super/cache/delete",
            data:{
                tenantId:$("#tenantId").val(),
                key:$("#key_").val()
            },
            type:"get",
            dataType:"json",
            success:function (data) {
                if(data.isSuccess){
                    alert('删除成功');
                    self.select('del');
                }else{
                    alert('删除失败');
                }
            }
        });
    }
    var cache_;
    $(function () {
        cache_=cache_||new CacheM();
        $("#addSearchKey").click(function () {
            $("#add_cache").show();
        });
        $("#searchItem").click(function () {
            cache_.select();
        });
        $("#add_btn").click(function () {
            cache_.add();
        });
    });
</script>