<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcloud.b2c.mall.service.mapper.MallArticleMapper">
  <resultMap id="BaseResultMap" type="com.jcloud.b2c.mall.service.domain.MallArticle">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="client_type" jdbcType="TINYINT" property="clientType" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="newstime" jdbcType="TIMESTAMP" property="newstime" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="category_parent" jdbcType="VARCHAR" property="categoryParent" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tenant_id, client_type, category_id, title, content, newstime, sort_num, state, 
    created, modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_article
    where id = #{id,jdbcType=BIGINT} and tenant_id = #{tenantId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle">
    delete from mall_article
    where id = #{id,jdbcType=BIGINT} and tenant_id = #{tenantId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle">
    insert into mall_article (id, tenant_id, client_type, 
      category_id, title, content, 
      newstime, sort_num, state, 
      created, modified)
    values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{clientType,jdbcType=TINYINT}, 
      #{categoryId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{newstime,jdbcType=TIMESTAMP}, #{sortNum,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, 
      #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle">
    insert into mall_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="clientType != null">
        client_type,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="newstime != null">
        newstime,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="clientType != null">
        #{clientType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="newstime != null">
        #{newstime,jdbcType=TIMESTAMP},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle">
    update mall_article
    <set>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="clientType != null">
        client_type = #{clientType,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="newstime != null">
        newstime = #{newstime,jdbcType=TIMESTAMP},
      </if>
      <if test="sortNum != null">
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle">
    update mall_article
    set tenant_id = #{tenantId,jdbcType=BIGINT},
      client_type = #{clientType,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      newstime = #{newstime,jdbcType=TIMESTAMP},
      sort_num = #{sortNum,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 删除文章 -->
  <update id="deleteByPrimaryKeyOnState" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle">
    update mall_article set state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT} and tenant_id = #{tenantId,jdbcType=BIGINT}
  </update>

  <!-- 查询文章 -->
  <select id="query" parameterType="com.jcloud.b2c.mall.service.domain.MallArticle" resultMap="BaseResultMap">
    SELECT ma.id,ma.`category_id`,ma.`title`,ma.`content`,ma.`newstime`,ma.`sort_num`,ma.`created`,ma.`state`,
    mac.category_parent,mac.category_name FROM mall_article ma
    LEFT JOIN
    (SELECT b.`id` pid,b.`name` category_parent,a.`id` cid,a.`name` category_name
    FROM mall_article_category a
    LEFT JOIN mall_article_category b ON a.`parent_id`=b.`id`) mac
    ON ma.`category_id`= mac.cid
    WHERE ma.`tenant_id`=#{tenantId,jdbcType=BIGINT} AND ma.`state`&lt;&gt;-1
    <if test="state != null">
      AND ma.`state`=#{state,jdbcType=TINYINT}
    </if>
    <if test="created != null">
      AND ma.`created`&gt;#{created,jdbcType=TIMESTAMP}
    </if>
    <if test="afterDate != null">
      AND ma.`created`&lt;DATE_FORMAT(#{afterDate,jdbcType=TIMESTAMP},'%Y%m%D')
    </if>
    <if test="categoryId != null">
      AND mac.cid=#{categoryId,jdbcType=BIGINT}
    </if>
    <if test="parentId != null">
      AND mac.pid=#{parentId,jdbcType=BIGINT}
    </if>
  </select>
</mapper>