<script type="text/javascript"  src="$!{basePath}/static/js/common/jquery-1.7.2.min.js"></script>
<script type="text/javascript"  src="$!{basePath}/static/js/common/default.js"></script>
<script type="text/javascript"  src="$!{basePath}/static/js/common/upload/jquery.iframe-transport.js"></script>
<script type="text/javascript"  src="$!{basePath}/static/js/common/upload/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript"  src="$!{basePath}/static/js/common/upload/jquery.fileupload.js"></script>
<script type="text/javascript"  src="$!{basePath}/static/js/common/DateFormat.js"></script>
<link type="text/css" rel="stylesheet" href="$!{basePath}/static/css/pop.css" source="widget"/>
<link type="text/css" rel="stylesheet" href="$!{basePath}/static/css/index.css" source="widget"/>

系统异常